@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<!-- Content -->
<div class="container flex-grow-1 container-p-y my-2">
    <h3>Thank you for using Sneat - Free Bootstrap 5 HTML Admin Template! 😇</h3>
    <p>
        If you’re a developer looking for most Powerful & comprehensive Bootstrap 5 HTML Admin Dashboard Template built
        for developers, rich with features, and highly customizable look no further than Sneat. We’ve followed the highest
        industry standards to bring you the very best admin template that is not only fast and easy to use but highly
        scalable. Offering ultimate convenience and flexibility, you’ll be able to build whatever application you want
        with very little hassle.
    </p>

    <!-- Examples -->
    <div class="row mt-sm-4 mt-3">
        <div class="col-12 mb-3">
            <div class="card">
                <h5 class="card-header">Template Links</h5>
                <!-- Template Demo Links -->
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Free Version</th>
                            <td><a href="html/index.html" target="_blank">Vertical Menu Template</a></td>
                        </tr>
                    </tbody>
                </table>
                <!--/ Template Demo Links -->
            </div>
        </div>

        <div class="col-12 mb-3">
            <div class="card">

                <h5 class="card-header">Other Important Links</h5>
                <!-- Other Links -->
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">URL</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>License </td>
                            <td>
                                <a href="https://themeselection.com/license/" target="_blank">https://themeselection.com/license/</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Documentation</td>
                            <td>
                                <a href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
                                   target="_blank">https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/</a>
                            </td>
                        </tr>

                        <tr>
                            <td>Changelog</td>
                            <td>
                                <a href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template-free/changelog.html"
                                   target="_blank">https://themeselection.com/demo/sneat-bootstrap-html-admin-template-free/changelog.html</a>
                            </td>
                        </tr>


                        <tr>
                            <td>GitHub Repository</td>
                            <td>
                                <a href="https://github.com/themeselection/sneat-html-admin-template-free"
                                   target="_blank">https://github.com/themeselection/sneat-html-admin-template-free</a>
                            </td>
                        </tr>


                        <tr>
                            <td>Support</td>
                            <td>
                                <a href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
                                   target="_blank">https://github.com/themeselection/sneat-html-admin-template-free/issues</a>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <!--/ Other Links -->
            </div>
        </div>

        <div class="col-12 mb-3">
            <p>Looking for <strong>PRO</strong> version with <strong>Premium support</strong>?</p>
            <div class="upgrade-to-pro">
                <a href="https://themeselection.com/products/sneat-bootstrap-html-admin-template/" target="_blank"
                   class="btn btn-danger">Upgrade to <strong>Sneat Pro</strong></a>
            </div>
        </div>
    </div>
</div>
<!-- / Content -->

<SurveyPrompt Title="How is Blazor working for you?" />
